body {

    background-color: #92BCEA;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header > nav > ul > li {
    padding: 1em;
}

body > main > {
    display: flex;
    justify-content: center;
    align-items: center;
}

