<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Reset</a></li>
        <li><a href="/computer">1 Player</a></li>
        <li><a href="/extension">2 Player</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/settings">Settings</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <header></header>
    <main id="game_window">
      {% block index %}{% endblock %}
      {% block computer %}{% endblock %}
      {% block help %}{% endblock %}
      {% block results %}{% endblock %}
      {% block settings %}{% endblock %}
    </main>
    <footer></footer>
  </main>
  <footer>
    <footnote>All rights for the totally original game of Rock paper scissors are reserved to Alex</footnote>
  </footer>
</body>

</html>