{% extends "base.html" %}
{% block content %}

Please choose a name for Player 1 and Player 2 and input choice.
<form class="" action="/basic4" method="post">
    <div>
        <label for="player_1_name_">Player 1 name:</label>
        <input type="text" name="player_1_name" id="player_1_name">
        <label for="player_1_choice">Player 1: Choice</label>
        <input type="text" name="player_1_choice" id="player_1_choice">
    </div>
    <div>
        <label for="player_2_name">Player 2 name: </label>
        <input type="text" name="player_2_name" id="player_2_name">
        <label for="name">Player 2 choice: </label>
        <input type="text" name="player_2_choice" id="player_2_choice">
    </div>
    <input type="submit" value="Start Game">
</form>


{% endblock %}