{% extends "base.html" %}
{% block computer %}


<form class="" action="/play_computer" method="post">
    <div id="player_setup">
        <label for="player_1_name_">Name:</label>
        <input type="text" name="player_1_name" class="player_1_name">
        <div id="player_1_choices">
            {% for choice in choices %}
            <label for="player_1_choice">{{ choice }}</label>
            <input type="radio" name="player_1_choice" value="{{ choice }}">
            {% endfor %}
        </div>
        <input type="submit" value="Start Game">
    </div>

    <section id="player1">

    </section>
    <section id="player2">

    </section>

    <section id="results">

    </section>
</form>

{% block results %}{% endblock %}

{% endblock %}