{% extends "base.html" %}
{% block index %}

Welcome to Rock, Paper, Scissors. <br>
You should know this, but in case you don't:<br>
Rock beats Scissors,<br>
Scissors beats Paper,<br>
Paper beats Rock,<br>
Enter a name for Player 1 and a choice, and a name for Player 2 and a choice.<br>


<form class="" action="/play_game" method="post">
    <div>
        <label for="player_1_name_">Player 1 name:</label>
        <input type="text" name="player_1_name" id="player_1_name">
        <label for="player_1_choice">Player 1: Choice</label>
        <input type="text" name="player_1_choice" id="player_1_choice">
    </div>
    <div>
        <label for="player_2_name">Player 2 name: </label>
        <input type="text" name="player_2_name" id="player_2_name">
        <label for="name">Player 2 choice: </label>
        <input type="text" name="player_2_choice" id="player_2_choice">
    </div>
    <input type="submit" value="Start Game">
</form>

{% block results %}{% endblock %}

{% endblock %}