{% extends "base.html" %}
{% block settings %}


<form class="" action="/save_settings" method="post">
    <div id="settings">
        <label for="setting_1">Setting 1:</label>
        <input type="text" name="setting_1" class="setting_input">

        <label for="setting_2">Setting 2:</label>
        <input type="text" name="setting_2" class="setting_input">

        <label for="setting_3">Setting 3:</label>
        <input type="text" name="setting_3" class="setting_input">

        <label for="setting_4">Setting 4:</label>
        <input type="text" name="setting_4" class="setting_input">

        <label for="setting_5">Setting 5:</label>
        <input type="text" name="setting_5" class="setting_input">

        <input type="submit" value="Save settings" id="setting_button">
    </div>

</form>

{% endblock %}